#homescreen {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#homescreen .rowone,
#homescreen .rowtwo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 30px;
}

#homescreen > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
