* {
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9edf0;
  padding: 50px;
  height: 100%;
}

#root,
.App {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Balsamiq";
  src: local("Balsamiq"),
    url("./assets/fonts/BalsamiqSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BalsamiqIgbo";
  src: local("BalsamiqIgbo"),
    url("./assets/fonts/BalsamiqSans-Regular-Igbo.otf") format("opentype");
}

.balsamiq {
  font-family: "Balsamiq";
}

.balsamiq-ig {
  font-family: "BalsamiqIgbo";
}

.calibri {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
